# Dev Setup (auto-create users) - DON'T USE IN PRODUCTION
DEV_SUPERUSER_EMAIL=superuser_email@gmail.com
DEV_SUPERUSER_PASSWORD=superuser_pass
DEV_MOCK_USER_NAME=dev account
DEV_MOCK_USER_EMAIL=fake@gmail.com
DEV_MOCK_USER_PASSWORD=password

# App Settings
POCKETBASE_APPLICATION_NAME=ProductBase
POCKETBASE_API_URL=http://localhost:8100

# Files Bucket Settings
S3_FILES_ENDPOINT=https://t3.storageapi.dev
S3_FILES_REGION=auto
S3_FILES_ACCESS_KEY_ID=access_key_id
S3_FILES_SECRET_ACCESS_KEY=secret_access_key
S3_FILES_BUCKET=productbase-dev-xxx
# Backups Bucket Settings (default to files settings, override if desired)
S3_BACKUPS_ENDPOINT=$S3_FILES_ENDPOINT
S3_BACKUPS_REGION=$S3_FILES_REGION
S3_BACKUPS_ACCESS_KEY_ID=$S3_FILES_ACCESS_KEY_ID
S3_BACKUPS_SECRET_ACCESS_KEY=$S3_FILES_SECRET_ACCESS_KEY
S3_BACKUPS_BUCKET=$S3_FILES_BUCKET

# Mail Settings > SMTP
SMTP_SEND_NAME=ProductBase
SMTP_SEND_ADDRESS=noreply@server.net
SMTP_SERVER=smtp.server.net
SMTP_PORT=587
SMTP_USER=user
SMTP_PASSWORD=password
